.cart-calc{
    /* position:sticky;
    top: 71px;
    right: 5px; */
    background-color: rgb(252, 246, 246);
    border-radius: 5px;
    padding: 9px;
}
/* .cart-programmer{
    height: 150vh;
    
} */